table(class='table table-borderless d-block col-sm-12 col-md-5')
  thead
    tr
      th.name
        i(class='fa fa-exclamation-triangle text-light')
        a(
          data-toggle='tooltip',
          data-placement='bottom',
          title='Reports errors on the episodes to the KamihimeDB Discord',
          href='javascript:void(0);',
          onclick=user ? `showReport('${character.id}', 1)` : `confirmLogin('${character.id}', 1)`,
        )  Report Error
h1 #{character.name === 'Eros' ? 'Wha— wait, what are you doing?!' : 'Episodes'}
-
  const episodes = [
    character.harem1Title,
    character.harem2Title,
    character.harem3Title
  ];
  const resources = [
    { res1: character.harem1Resource1 },
    { res1: character.harem2Resource1, res2: character.harem2Resource2 },
    { res1: character.harem3Resource1, res2: character.harem3Resource2 }
  ];
table(class='table table-borderless info-table')
  thead
    tr
      th(scope='col') #
      th(scope='col') Title
      th(scope='col') Links
  tbody
    - for (let i = 1; i <= episodes.length; ++i)
      -
        let episode = episodes[i - 1];
        const res = resources[i - 1];
        if (!episode && (res.res1 || res.res2)) episode = 'Untitled';
        else if (!episode && !(res.res1 || res.res2)) continue;
      tr
        td(scope='row') #{i}
        td
          h5 #{episode}
        td.name
          - if (res.res1)
            +link(`/player/${character.id}/${i}/story`, '<b>Story</b>')
          - if (res.res2)
            |  | 
            +link(`/player/${character.id}/${i}/scenario`, '<b>Scenario</b>')
            |  | 
            +link(`/player/${character.id}/${i}/legacy`, '<b>Legacy</b>')
