include wiki-js-util
table(class='table table-borderless d-block col-sm-12 col-md-5')
  thead
    tr
      th.name
        i(class='fa fa-pencil-square-o text-light')
        a(
          data-toggle='tooltip',
          data-placement='bottom',
          title='Redirects you to edit the info at Wikia.',
          href=`https://kamihime-project.wikia.com/w/${character.name}?action=edit`,
        )  Edit on Wikia
      th.name
        i(class='fa fa-exclamation-triangle text-light')
        a(
          data-toggle='tooltip',
          data-placement='bottom',
          title='Reports errors on the info to the Wikia Discord.',
          href='javascript:void(0);',
          onclick=user ? `showReport('${character.id}')` : `confirmLogin('${character.id}')`,
        )  Report Error
- if (!wiki)
  h1 #{character.name} - Cannot Retrieve Wiki Information
- else
  h1 #{wiki.name === 'Eros' ? 'You came to look for my stats? :)' : 'Info'}
  - if (wiki.description)
    p 
      i #{wiki.description}
  - if (wiki.notes)
    h3 Notes
    p
      each note in wiki.notes
        |   - !{note}<br>
  -
    const wikiURL = 'https://kamihime-project.wikia.com/w/';
    const COLORS = {
      Legendary: '#ffbf50',
      Elite: '#e5e5e5',
      Standard: '#b4632c',
      'SSR+': '#8a57ff',
      SSR: '#ffbf50',
      SR: '#e5e5e5',
      R: '#b4632c',
      N: '#918f8f'
    };
  table(class='table table-borderless info-table', style='border-top: 5px solid ' + COLORS[wiki.rarity || wiki.tier])
    thead
      tr
        th(scope='col') Name
        th(scope='col') #{wiki.rarity ? 'Rarity' : 'Tier'}
        - if (wiki.type)
          th(scope='col') Type
        - if (wiki.element)
          th(scope='col') Element
        - if (wiki.hpMin)
          th(scope='col') HP-ATK-TTL
    tbody
      tr
        td.name
          a(href=wikiURL + wiki.name, target='_blank') #{wiki.name}
        td #{wiki.rarity ? wiki.rarity : wiki.tier}
        - if (wiki.type)
          td #{wiki.type}
        - if (wiki.element)
          td #{wiki.element}
        - if (wiki.hpMin)
          td #{wiki.hpMax}-#{wiki.atkMax}-#{parseInt(wiki.atkMax) + parseInt(wiki.hpMax)}
    thead
      tr
        - if (wiki.favouriteWeapon)
          th(scope='col') Favourite Weapon
        - if (wiki.weapon1)
          th(scope='col') Can Wield
        - if (wiki.masterBonus)
          th(scope='col') Master Bonus
        - if (wiki.releaseWeapon)
          th(scope='col') Release Weapon
        - if (wiki.obtained)
          th(scope='col') Obtainable From
        - if (wiki.soul1 || wiki.soulP)
          th(scope='col') Requires
    tbody
      tr
        - if (wiki.favouriteWeapon)
          td #{wiki.favouriteWeapon}
        - if (wiki.weapon1)
          td !{`<b>${wiki.weapon1}</b>${wiki.weapon2 ? ` and <b>${wiki.weapon2}</b>` : ''}`}
        - if (wiki.masterBonus)
          td #{wiki.masterBonus}
        - if (wiki.releaseWeapon)
          td.name
            a(href=wikiURL + wiki.releaseWeapon, target='_blank') #{wiki.releaseWeapon}
        - if (wiki.obtained)
          - wiki.obtained = wiki.obtained.replace(/\n/g, '<br>');
          td.name
            - if (wiki.obtained.includes('Awaken'))
              - const [ n ] = wiki.name.split(' ');
              | Awaken 
              a(href=wikiURL + n, target='_blank') #{n}
            - else
              | !{wiki.obtained}
        - if (wiki.soul1 || wiki.soulP)
          td.name
            a(href=wikiURL + wiki.soul1, target='_blank') #{wiki.soul1}
            - if (wiki.soul2)
              br
              a(href=wikiURL + wiki.soul2, target='_blank') #{wiki.soul2}
            - if (wiki.soulP)
              - if(wiki.soul1)
                br
              | #{wiki.soulP}
    h3 Character Kit
    table(class='table table-borderless info-table')
      thead
        tr
          th(scope='col') Type
          th(scope='col') Description
          th(scope='col') Restrictions
      tbody
        +kit(0, wiki.burstName, wiki.burstDesc || burstDescParse(), burstUpgradeParse())
        +kit(0, wiki.summonAtk, wiki.summonAtkDes, null, wiki.summonCd, wiki.summonEffectDur)
        +kit(1, wiki.ability1Name, wiki.ability1Desc, abilityDescParse(wiki.ability1PowerupDesc, 1), wiki.ability1Cd, wiki.ability1Dur)
        +kit(1, wiki.ability2Name, wiki.ability2Desc, abilityDescParse(wiki.ability2PowerupDesc, 2), wiki.ability2Cd, wiki.ability2Dur)
        +kit(1, wiki.ability3Name, wiki.ability3Desc, abilityDescParse(wiki.ability3PowerupDesc, 3), wiki.ability3Cd, wiki.ability3Dur)
        -
          const concatEffects = [
            wiki.eidolonEffectDes0, wiki.eidolonEffectDes1,
            wiki.eidolonEffectDes2, wiki.eidolonEffectDes3, wiki.eidolonEffectDes4
          ]
          .map((el, i, arr) => {
            if (i == 0) return `${'☆'.repeat(4)} | ${el}`;
            return `${'★'.repeat(i)}${'☆'.repeat(arr.length - (i + 1))} | ${el}`;
          })
          .join('\n');
        +kit(1, wiki.eidolonEffect, concatEffects)
        +kit(2, wiki.assistName, wiki.assistDesc, wiki.rarity === 'SSR+' ? abilityDescParse(wiki.assistPowerupDesc, 4) : null)
        +kit(2, wiki.assist1Name, wiki.assist1Desc)
        +kit(2, wiki.assist2Name, wiki.assist2Desc)
