mixin kit(type, name, desc, upDesc, cd, dur)
  - if (name)
    tr
      td
        sup
          case type
            when 0: #{wiki.type ? 'BURST' : 'SUMMON'}
            when 1: #{wiki.type ? 'ABILITY' : 'EFFECT'}
            when 2: #{'ASSIST'}
      td
        case type
          when 0: div(class='kit-name kit-name-bst') #{name}
          when 1: div(class='kit-name kit-name-abl') #{name}
          when 2: div(class='kit-name kit-name-ex') #{name}
        p
          - if (desc)
            | #{desc.replace(/'/g, '')}
          - if (upDesc)
            br
            |   !{upDesc}
      - if (cd)
        td
          <b>Cooldown</b>: #{cd}
          - if (dur)
            br
            <b>Duration</b>: #{dur}
