- for(let i = 0; i < Rs.length; i++) 
    .container(id=Rs[i].khID name=Rs[i].khName style='display: inline-block; text-align: center; margin: 5px 5px;')
        p
            img(class="avatar" src=Rs[i].khInfo_avatar width=128 height=128)
            br
            span(class="iName" value=Rs[i].khName) 
                strong #{Rs[i].khName}
            span(class="iID" value=Rs[i].khID)
                span(style="font-size:13px") ##{Rs[i].khID.toUpperCase()}
            br
            span(class='episode')
                <a href='http://kamihimedb.thegzm.space/player/#{Rs[i].khID}/2/#{Rs[i].khHarem_hentai1Resource2}'>Episode 2</a>