- for(let i = 0; i < SSRAs.length; i++) 
    .container(id=SSRAs[i].khID name=SSRAs[i].khName style='display: inline-block;')
        img(class="avatar" src=SSRAs[i].khInfo_avatar)
        span(class="iName" value=SSRAs[i].khName) 
            strong #{SSRAs[i].khName}
        br
        span(class="iID" value=SSRAs[i].khID)
            span(style="font-size:13px") ##{SSRAs[i].khID.toUpperCase()}
        span(class='episode')
            - if(SSRAs[i].khHarem_introFile)
                <a href='#{SSRAs[i].khHarem_introFile}'>Episode 1 (Youtube)</a> | 
            - else
                <a style='color:grey'>Episode 1</a> | 
            <a href='http://kamihimedb.thegzm.space/player/#{SSRAs[i].khID}/2/#{SSRAs[i].khHarem_hentai1Resource2}'>Episode 2</a>