- for(let i = 0; i < SSRs.length; i++) 
    .container(id=SSRs[i].khID name=SSRs[i].khName style='display: inline-block;')
        p
            img(class="avatar" src=SSRs[i].khInfo_avatar width=128 height=128)
            br
            span(class="iName" value=SSRs[i].khName) 
                strong #{SSRs[i].khName}
            span(class="iID" value=SSRs[i].khID)
                span(style="font-size:13px") ##{SSRs[i].khID.toUpperCase()}
            br
            span(class='episode')
                - if(SSRs[i].khHarem_introFile)
                    <a href='#{SSRs[i].khHarem_introFile}'>Episode 1 (Youtube)</a>
                - else
                    <a style='color:grey'>Episode 1</a>
                br
                <a href='http://kamihimedb.thegzm.space/player/#{SSRs[i].khID}/2/#{SSRs[i].khHarem_hentai1Resource2}'>Episode 2</a> | 
                <a href='http://kamihimedb.thegzm.space/player/#{SSRs[i].khID}/3/#{SSRs[i].khHarem_hentai2Resource2}'>Episode 3</a>