doctype html
html
  head
    title Eros' Backend - Kamihime Database
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    style
      include css/style.css
    style.
      .visible {
          visibility: visible;
          opacity: 1;
          transition: opacity 0.3s linear;
      }

      .hidden {
          visibility: hidden;
          opacity: 0;
          transition: visibility 0s 0.3s, opacity 0.3s linear;
      }
    body(style="min-width: 1280px; float:center;")
      h1 Kamihime Database Dashboard
      h2 <sup>Where we configure our 2D Waifus.</sup>
      h2 <sup>Session Creator: #{user.user}</sup>
      br

      <center>
        div(class="container")
          img(class="avatar" src=characterInfo.avatar)
          span(class="iName" value=characterInfo.name) 
            strong #{characterInfo.name}
          br
          span(class="iID" value=characterInfo.id)
            span(style="font-size:13px") ##{characterInfo.id.toUpperCase()}
        div(style="position: relative;")
          div(id="manual" class="visible" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;")
            form(method="POST" action="/redirect")
              input(type="hidden" name="id" value=characterInfo.id)
              input(type="hidden" name="user" value=user.user)
              h2 Empty fields to fill (with ♥ iykwim)

              for key in Object.keys(characterInfo)
                if(key === 'id')
                  - continue;
                textarea(class="avWA" name=key placeholder=key cols="40" rows="2") #{characterInfo[key]}
              p
                input(class="btn" type='submit', value='SUBMIT INFO')
        br
        br
        div(style="position:relative; margin-top:580px; left: 0; right: 0;")
            include constants/footer.pug
        script
            include js/script.js
      </center>