doctype html
html
    head
        title Eros' Backend - Kamihime Database
        script.
            setTimeout(() => this.location.replace('/'), 10000);
        style
            include css/style.css
        body
            h1 Kamihime Database Dashboard
            h2 <sup>Successfully saved your inputs into the database. ♥</sup>
            br

            <center>
                div(class="container")
                    img(class="avatar" src=avatar)
                    span(class="iName" value=name) 
                        strong #{name}
                    br
                    span(class="iID" value=id)
                        span(style="font-size:13px") ##{id.toUpperCase()}
                   
                h2 <sub>Your session for this character has been destroyed. <br/> You will be redirected shortly to index page...</sub>
                p
                    form(action="http://google.com")
                        input(type="submit" class="btn"  value="OR HOW ABOUT SOMEWHERE...?")
                br
                br
                include constants/footer.pug
            </center>