each c in hot
  li.tile.small
    .char-button(data-char = c.id, data-toggle = 'modal', data-target = '.modal')
    img(src =`${app.urls.g}wiki/${c.avatar}`)
    span #{c.name}
    |
    span.badge-container
      span.badge.badge-primary #{Number(c.peeks).toLocaleString('en')} VIEWS
      |
      |
      span.badge.badge-secondary #{(c.tier || c.rarity).toUpperCase()}
      |
      |
      span.badge.badge-secondary #{type(c.id)}
