extends ../_templates/main

append styles
  link(rel='stylesheet', href='/css/browser.css')

append scripts
  script(src='/js/browser.js')

block title
  title Kamihime Database - Browser

block side-nav-content
  a(class='nav-item nav-link', href='javascript:void(0);', data-toggle='collapse', data-target='#all') All
  a(class='nav-item nav-link', href='javascript:void(0);', data-toggle='collapse', data-target='#soul') Soul
  a(class='nav-item nav-link', href='javascript:void(0);', data-toggle='collapse', data-target='#eidolon') Eidolon
  a(class='nav-item nav-link', href='javascript:void(0);', data-toggle='collapse', data-target='#ssra') SSRA
  a(class='nav-item nav-link', href='javascript:void(0);', data-toggle='collapse', data-target='#ssr') SSR
  a(class='nav-item nav-link', href='javascript:void(0);', data-toggle='collapse', data-target='#sr') SR
  a(class='nav-item nav-link', href='javascript:void(0);', data-toggle='collapse', data-target='#r') R

block content
  div(class='container-fluid px-0')
    div.row 
      div(class='col-sm-12 col-md-9 col-lg-10 p-2')
        div#content.row
          div.row(style='margin: 0 auto !important')
            - if(status)
              div.col-12(style='z-index: 1')
                div(class='alert alert-dismissable alert-danger fade show')
                  a.close(data-dismiss='alert') &times;
                  h4.alert-heading Announcement
                  p.name(style='white-space: pre-wrap') !{status}
          - let key = 49;
          - for(const el of ['all', 'soul', 'eidolon', 'ssra', 'ssr', 'sr', 'r'])
            div(id=el, class='content collapse col-12', data-parent='#content', key=key++)
              div(class='col-11 kh-list-wrapper')
                ul(class='kh-list px-0 hidden-browser')
                  h2 #{el.toUpperCase()}
                  case el
                    when 'soul': include assets/soul
                    when 'eidolon': include assets/eidolon
                    when 'ssra': include assets/ssra
                    when 'ssr': include assets/ssr
                    when 'sr': include assets/sr
                    when 'r': include assets/r
                    default: include assets/all
          div(class='model col-12 d-none d-md-block')
      div#feed-wrapper(class='col-3 col-lg-2 d-none d-md-block px-0')
        div.row
          div(class='feed col-12')
            h5
              | Latest (
              a.text-danger(href='javascript:void(0);', onclick='showLatest();') Live Image
              | )
            each _, k in latest
              - let chars = latest[k];
              - if (k === 'ssr+') k = 'ssra';
              - k = k.toUpperCase();
              ul.feed-list
                a.label(
                  href='javascript:void(0);',
                  data-toggle='collapse',
                  data-target=`#${k.toLowerCase()}`,
                  title='Filter to ' + k) #{k}
                each c in chars
                  li.name(name=c.name, character-id=c.id)
                    a(href=`/info/${c.id}`) #{c.name}
        div.row
          div(class='feed col-12')
            h5 Top 10
            ol(class='feed-list numbered')
              each c in hot
                li.name(name=c.name, character-id=c.id)
                  a(href=`/info/${c.id}`) #{c.name}
                  br
                  sub.text-light &nbsp;#{parseInt(c.peeks).toLocaleString('en')} views
