doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    script(src='/lib/jquery.min.js')
    script(src='/lib/bootstrap.min.js')
    script(src='/lib/popper.min.js')
    script(src='/lib/js.cookie.min.js')
    script(src='/lib/sweetalert.min.js')
    link(rel='stylesheet', href='/lib/bootstrap.min.css')

    script(src='/browser/script.js')
    link(rel='stylesheet', href='/browser/style.css')
    link(rel='stylesheet', href='/constants/style.css')
    title Kamihime Database - Browser
  body
    div(class='container-fluid px-0')
      div(class='row')

        <!-- Menu -->
        div(class='col-1 px-0')
          nav(class='navbar navbar-light navbar-expand-sm px-0 flex-row flex-nowrap float-left')
            div(id='nav' class='nav')
              a(class='nav-item text-light text-uppercase', id='pop-target', href='#', onclick='showHelp();')
                span(id='pop') Click me for a list of<br>keyboard shortcuts!
                | Navigation <sup>?</sup>
              a(class='nav-item nav-link', href='#all', data-toggle='collapse', data-target='#all') All
              a(class='nav-item nav-link', href='#soul', data-toggle='collapse', data-target='#soul') Soul
              a(class='nav-item nav-link', href='#eidolon', data-toggle='collapse', data-target='#eidolon') Eidolon
              a(class='nav-item nav-link', href='#ssra', data-toggle='collapse', data-target='#ssra') SSRA
              a(class='nav-item nav-link', href='#ssr', data-toggle='collapse', data-target='#ssr') SSR
              a(class='nav-item nav-link', href='#sr', data-toggle='collapse', data-target='#sr') SR
              a(class='nav-item nav-link', href='#r', data-toggle='collapse', data-target='#r') R
              input(type='text', id='search-bar', placeholder='Search by name')
            div(class='nav-switch nav-switch-hide')
        <!-- Menu End -->

        div(class='col-9 px-0')
          div(id='content', class='row')
            - let key = 49;

            - for(const el of ['all', 'soul', 'eidolon', 'ssra', 'ssr', 'sr', 'r'])
              div(id=el, class='content rounded-bottom collapse col-12', data-parent='#content', key=key++)
                - const title = el.toUpperCase();
                h2 #{title}

                div(class='col-11 kh-list-wrapper')
                  ul(class='kh-list px-0 hidden-browser')
                    case el
                      when 'soul'
                        include assets_browser/soul.pug
                      when 'eidolon'
                        include assets_browser/eidolon.pug
                      when 'ssra'
                        include assets_browser/ssra.pug
                      when 'ssr'
                        include assets_browser/ssr.pug
                      when 'sr'
                        include assets_browser/sr.pug
                      when 'r'
                        include assets_browser/r.pug
                      default
                        include assets_browser/all.pug

            div(id='thumbnail', class='col-12 d-none d-md-block')

        div(id='feed-wrapper' class='col-2 d-none d-md-block px-0')
          div(class='row')
            div(class='feed col-12')
              h6 Latest (<a href='#' class='text-danger' onclick='showLatest();'>Live Image</a>)
              each _, k in latest
                - let chars = latest[k];

                - if (k === 'ssr+') k = 'ssra'

                - k = k.toUpperCase()
                ul(class='feed-list')
                  | <a href='#' class='text-light' data-toggle='collapse' data-target='##{k.toLowerCase()}' title='Filter to #{k}'>#{k}</a>
                  each c in chars
                    li(name=c.name, character-id=c.id, class='name')
                      != `<a href="/info/${c.id}">${c.name}</a>`
          div(class='row')        
            div(class='feed col-12')
              h6 Hot 10
              ul(class='feed-list')
                each c in hot
                  li(name=c.name, character-id=c.id, class='name')
                    != `<a href="/info/${c.id}">${c.name}</a><br>&nbsp;<sub class='text-light'>${c.peeks.toLocaleString()} views</sub>`

