doctype html

- const { id, name } = character;

include functions/info.pug

html
  head
    meta(name='viewport', content='width=device-450, initial-scale=0.8, maximum-scale=1.0, user-scalable=0')
    script(src='/lib/jquery.min.js')
    script(src='/lib/popper.min.js')
    script(src='/lib/bootstrap.min.js')
    script(src='/lib/js.cookie.min.js')
    script(src='/lib/sweetalert2.min.js')
    link(rel='stylesheet', href='/lib/sweetalert2.css')
    link(rel='stylesheet', href='/lib/bootstrap.min.css')
    link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    script(src='/constants/script.js')
    script(src='/info/script.js')
    link(rel='stylesheet', href='/constants/style.css')
    link(rel='stylesheet', href='/info/style.css')
    include constants/userSettings.pug
    title Kamihime Database - Info
  body
    ul(class='top-nav')
      include constants/navigation.pug
      include constants/member2.pug
      li(class='top-nav-status')
        +name

    <!-- Menu -->
    div(class='col-1 px-0')
      nav(class='navbar navbar-light navbar-expand-sm px-0 flex-row flex-nowrap float-left')
        div(id='nav' class='nav')
          a(class='nav-item nav-link', href='javascript:void(0);', data-toggle='collapse', data-target='#info') Info
          a(class='nav-item nav-link', href='javascript:void(0);', data-toggle='collapse', data-target='#episodes') Episodes
        div(class='nav-switch nav-switch-hide')
    <!-- Menu End -->

    div(class='container-fluid px-0')
      div(class='row')

        div(class='col-12 px-0')
          div(id='content', class='row')
            - let key = 49;

            div(id='info', class='content rounded-bottom collapse col-12', data-parent='#content', key=key++)
              div(class='content-wrapper hidden-browser')
                table(class='table table-borderless d-none d-sm-block col-sm-12 col-md-5')
                  thead
                    tr
                      th(class='name')
                        i(class='fa fa-pencil-square-o text-light')
                        a(data-toggle='tooltip', data-placement='bottom', title='Redirects you to edit the info at Wikia.', href=`https://kamihime-project.wikia.com/w/${character.name}?action=edit`)  Edit on Wikia
                      th(class='name')
                        i(class='fa fa-exclamation-triangle text-light')
                        a(data-toggle='tooltip', data-placement='bottom', title='Reports errors on the info to the Wikia Discord.', href='javascript:void(0);', onclick=`${user.username ? `showReport('${character.id}')` : `confirmLogin('${character.id}')`};`)  Report Error

                - if (!wiki)
                  h1 #{character.name} - Cannot Retrieve Wiki Information
                - else
                  h1 #{wiki.name === 'Eros' ? 'You came to look for my stats? :)' : 'Info'}

                  - if (wiki.description)
                    p <i>#{wiki.description}</i>

                  - if (wiki.notes)
                    h3 Notes
                    p
                      each note in wiki.notes
                        |   - !{note}<br>

                  -
                    const COLORS = {
                      Legendary: '#ffbf50',
                      Elite: '#e5e5e5',
                      Standard: '#b4632c',
                      'SSR+': '#8a57ff',
                      SSR: '#ffbf50',
                      SR: '#e5e5e5',
                      R: '#b4632c',
                      N: '#918f8f'
                    };
                  table(class='table table-borderless info-table' style='border-top: 5px solid ' + COLORS[wiki.rarity || wiki.tier])
                    +stats

                  h3 Character Kit
                  table(class='table table-borderless info-table')
                    thead
                      tr
                        th(scope='col') Type
                        th(scope='col') Description
                        th(scope='col') Restrictions
                    tbody
                      +kit(0, wiki.burstName, wiki.burstDesc || burstDescParse(), burstUpgradeParse())
                      +kit(0, wiki.summonAtk, wiki.summonAtkDes, null, wiki.summonCd, wiki.summonEffectDur)
                      +kit(1, wiki.ability1Name, wiki.ability1Desc, abilityDescParse(wiki.ability1PowerupDesc, 1), wiki.ability1Cd, wiki.ability1Dur)
                      +kit(1, wiki.ability2Name, wiki.ability2Desc, abilityDescParse(wiki.ability2PowerupDesc, 2), wiki.ability2Cd, wiki.ability2Dur)
                      +kit(1, wiki.ability3Name, wiki.ability3Desc, abilityDescParse(wiki.ability3PowerupDesc, 3), wiki.ability3Cd, wiki.ability3Dur)
                      -
                        const concatEffects = [
                          wiki.eidolonEffectDes0, wiki.eidolonEffectDes1,
                          wiki.eidolonEffectDes2, wiki.eidolonEffectDes3, wiki.eidolonEffectDes4
                        ]
                        .map((el, i, arr) => {
                          if (i == 0) return `${'☆'.repeat(4)} | ${el}`;
                          return `${'★'.repeat(i)}${'☆'.repeat(arr.length - (i + 1))} | ${el}`;
                        })
                        .join('\n');
                      +kit(1, wiki.eidolonEffect, concatEffects)
                      +kit(2, wiki.assistName, wiki.assistDesc, wiki.rarity === 'SSR+' ? abilityDescParse(wiki.assistPowerupDesc, 4) : null)
                      +kit(2, wiki.assist1Name, wiki.assist1Desc)
                      +kit(2, wiki.assist2Name, wiki.assist2Desc)

            div(id='episodes', class='content rounded-bottom collapse col-12', data-parent='#content', key=key++)
              div(class='content-wrapper hidden-browser')
                table(class='table table-borderless d-none d-sm-block col-sm-12 col-md-5')
                  thead
                    tr
                      th(class='name')
                        i(class='fa fa-exclamation-triangle text-light')
                        a(data-toggle='tooltip', data-placement='bottom', title='Reports errors on the episodes to the KamihimeDB Discord', href='javascript:void(0);', onclick=`${user.username ? `showReport('${character.id}', 1)` : `confirmLogin('${character.id}', 1)`};`)  Report Error
                h1 #{character.name === 'Eros' ? 'Wha— wait, what are you doing?!' : 'Episodes'}
                -
                  const episodes = [
                    character.harem1Title,
                    character.harem2Title,
                    character.harem3Title
                  ];
                  const resources = [
                    { res1: character.harem1Resource1 },
                    { res1: character.harem2Resource1, res2: character.harem2Resource2 },
                    { res1: character.harem3Resource1, res2: character.harem3Resource2 }
                  ];

                table(class='table table-borderless info-table')
                  thead
                    tr
                      th(scope='col') #
                      th(scope='col') Title
                      th(scope='col') Links
                  tbody
                    - for (let i = 1; i <= episodes.length; ++i)
                      -
                        let episode = episodes[i - 1];
                        const res = resources[i - 1];

                        if (!episode && (res.res1 || res.res2)) episode = 'Untitled';
                        else if (!episode && !(res.res1 || res.res2)) continue;

                      tr
                        td(scope='row') #{i}
                        td
                          h5 #{episode}
                        td(class='name')

                          - if (res.res1)
                            b <a href = "/player/#{id}/#{i}/story">Story</a> 

                          - if (res.res2)
                            | | <b><a href = "/player/#{id}/#{i}/scenario">Scenario</a></b>
                            | | <b><a href = "/player/#{id}/#{i}/legacy">Scenario (Legacy)</a></b>

    div(id='model', class='d-none d-lg-block', style=`background-image: url("/img/wiki/${character.main}")`)
    div(id='thumbnail', class='d-none d-md-block d-lg-none', style=`background-image: url("/img/wiki/${character.preview}")`)
