div(class='col-1 px-0')
  nav(class='side-nav navbar navbar-light px-0 nav-hidden')
    div#nav.nav
      block side-nav-help
        a#side-nav-help(
          class='nav-item text-danger text-uppercase',
          href='javascript:void(0);',
          data-toggle='tooltip',
          data-placement='top',
          title='Click me for help using this page!',
          onclick='showHelp();'
        ) Help
      block side-nav-content
    div(class='nav-switch')
