//- @Deprecated
extends ../_templates/admin

append content
  div.container-fluid
    h3 Session Creator: #{session.userId}
    div.text-center
      img.rounded-circle(src='/img/wiki/' + info.avatar)
      h4 #{info.name}
      h6 ##{info.id.toUpperCase()}
    form.form-inline(method='POST', action='/redirect')
      input(type='hidden', name='id', value=info.id)
      input(type='hidden', name='user', value=session.userId)
      input(type='hidden', name='avatar', value=info.avatar)
      - for (const key in info)
        - if (key === 'id' || key === 'avatar') continue;
        div(class='form-group col-4')
          label.col-4(for=key) #{key}
          input(
            id=key,
            class='form-control col-8 my-1',
            type='text',
            name=key,
            placeholder='Enter ' + key,
            value=info[key],
          )
      button(type='submit', class='btn btn-dark my-3 mx-auto') Submit
