doctype html

html

  head
    - if (user)
      script.
        const userCredentials = !{JSON.stringify(user)};
    script.
      const script = !{JSON.stringify(script).replace(/\{\{主人公\}\}/g, (user.username || 'Master'))};
      const SCENARIOS = "#{SCENARIOS}";
      const BG_IMAGE = "#{BG_IMAGE}";
      const BGM = "#{BGM}";
      const FG_IMAGE = "#{FG_IMAGE}";
    script(src='/lib/jquery.min.js')
    script(src='/lib/howler.core.min.js')
    script(src='/lib/sweetalert2.min.js')
    script(src='/lib/popper.min.js')
    script(src='/lib/bootstrap.min.js')
    script(src='/lib/js.cookie.min.js')
    link(rel='stylesheet', href='/lib/bootstrap.min.css')
    link(rel='stylesheet', href='/lib/sweetalert2.css')
    link(rel='stylesheet', href='/constants/style.css')
    link(rel='stylesheet', href='/player/style.css')
    script(src='/constants/script.js')
    script(src='/player/script/story.js')
    script(src='/player/script.js')
    title Kamihime Database - Player
  body
    ul(class='top-nav')
      include ../constants/navigation.pug
      - if (user.username)
        li
          a(href='/logout') Log out (#{user.username})
      - else
        li
          a(href='/login') Log in
      li(style="float: right; user-select: none;")
        a Story Mode
    include ../constants/player_sideNavigation.pug
    center
      #panel(style='width: 640px;')
        button(class='invi', nav='left', style='margin-left: -320px; width: 320px;')
        |
        button(class='invi', nav='right', style='width: 320px;')
        #image
        #dialog
          #text
            #characterName
            #characterTalk
