extends ../_templates/player

append head
  meta(name='viewport', content='width=device-width, initial-scale=0.8, maximum-scale=1.0, user-scalable=0')
  script.
    let script = !{JSON.stringify(script).replace(/\{\{主人公\}\}/g, (user ? user.username : 'Master'))};
    const SCENARIOS = "#{SCENARIOS}";
    const BG_IMAGE = "#{BG_IMAGE}";
    const BGM = "#{BGM}";
    const FG_IMAGE = "#{FG_IMAGE}";
  script(src='//cdn.jsdelivr.net/npm/howler@2.1.2/dist/howler.core.min.js')
  script(src='/js/player/story.js')

block subcontent
  +playerSettings
  .panel-wrapper
    .panel
      button(class='invi leftNav', nav='left')
      |
      button(class='invi rightNav', nav='right')
      #image
      #dialog
        #text
          #characterName
          #characterTalk
